# Virtual Environment
venv/

# Environment Variables
.env

# Jupyter Notebook
.ipynb_checkpoints/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/

# Build Files
build/
dist/
*.egg-info/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log